.gradient-custom {
    /* background: linear-gradient(45deg, #007bff, #6c757d); */
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.card-header {
    background-color: #007bff;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px 20px;
}

.card-body {
    padding: 20px;
}

.card-body p {
    margin-bottom: 10px;
}

.card-body button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-del {
    background-color: red;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:focus {
    background-color: #0056b3;
    box-shadow: none;
}

.btn-lg {
    padding: 10px 20px;
    font-size: 1.25rem;
}

.list-group-item {
    border: none;
    padding: 10px 20px;
}

.list-group-item span {
    font-weight: bold;
}

.btn-block {
    display: block;
    width: 100%;
}

.input-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}